{% extends "layout.html" %}
{% block title %}categories{% endblock %}


{% block content %}

<div class="w3-container">



<!-- fuoyenews category-->
{% if fnpost %}

 {% for post in fnpost %}

  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">
  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>

<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>

	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore
</button>
</p>
</div>

</div>
{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}


	{% endif %}





		{% if entpost %}

 {% for post in entpost %}
  <div class="w3-container w3-half">

<!--displaying post image-->
	<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">
  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>

	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
</div>

{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}

	{% endif %}




{% if spopost %}

 {% for post in spopost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>

	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
</div>
{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}

	{% endif %}




{% if hthpost %}
 {% for post in hthpost %}

  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>


	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
</div>
{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}

	{% endif %}


{% if tipost %}
 {% for post in tipost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
    </div>
    {% empty %}
    <div class="w3-red w3-container w3-opacity">
    <p>No Post In This Category</p>

    </div>

	{% endfor %}

	{% endif %}


<!-- Gossip category-->
{% if gospost %}
 {% for post in gospost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
        </div>
        {% empty %}
        <div class="w3-red w3-container w3-opacity">
        <p>No Post In This Category</p>

        </div>

	{% endfor %}
	{% endif %}


						<!-- entertainment category-->
{% if entpost %}
 {% for post in entpost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>

      </div>
      {% empty %}
      <div class="w3-red w3-container w3-opacity">
      <p>No Post In This Category</p>

      </div>

	{% endfor %}
		{% endif %}


			<!-- Health Category-->
{% if hthpost %}
 {% for post in hthpost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
</div>
{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}
	{% endif %}


		<!-- Tips Category-->
		{% if tipost %}
 {% for post in tipost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div></div>
{% empty %}
<div class="w3-red w3-container w3-opacity">
<p>No Post In This Category</p>

</div>

	{% endfor %}
		{% endif %}

		<!--Aspirant Category-->
		{% if fapost %}
 {% for post in fapost %}
  <div class="w3-container w3-half">
<!--displaying post image-->


<div class= " w3-display-container w3-image w3-hover-opacity w3-margin-top">

  <img src='{{post.image_upload.url}}'alt="Post Image" style="width:100%">
</div>
<!-- post content -->

    <div class="w3-container w3-white">
      <h1><b>{{post.title}}</b></h1>
      <p>{{post.author}}, <span class="w3-opacity">{{post.publish|date:"Y-m-d"}}</span></p>
    </div>
	<div class="w3-container w3-white">
      <div class="w3-container" >
        		<p>{{ post.body|truncatewords:20|linebreaks }}</p>
		</div>
		</div>

<!-- Readmore button-->

<div class="w3-container w3-white" >
<p>
<button name='readmore' onclick ="location.href='{{ post.get_absolute_url }}'" class=" w3-card w3-btn w3-round-xlarge w3-section w3-green w3-ripple">Readmore>>
</button>
</p>
</div>
</div>
{% empty %}
<div class="w3-red">
No Post In This Category

</div>

	{% endfor %}
		{% endif %}



</div>









{% endblock %}