{% extends "layout.html" %}
{% load static %}
{% block title %}
Question and answer zone
{% endblock %}


{% block content %}
<!--Page Container-->
<div class="w3-container" style="max-width:1400px;margin-top:40px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m2 w3-margin-bottom w3-hide-small">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center"><b>Profile</b></h4>
                    {% if user.is_authenticated %}
                    {% if user.userprofile.gender|title == "Male" %}
                    <p class="w3-center"><img src="{% static 'images/maleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p>
                    {% else %}
                    <p class="w3-center"><img src="{% static 'images/femaleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p>
                    {% endif %}
                    <hr>
                    <p>{{ user.first_name|title }} {{ user.last_name|title }}</p>
                    <p>{{ user.userprofile.faculty|title }}</p>
                    <p> {{ user.userprofile.level }}</p>
                    <p> {{ user.userprofile.gender|title }} </p>
                    <a href="{% url 'logout' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Log Out</a>
                    {% else %}
                    <p class="w3-center"><img src="{% static 'images/maleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p>
                    <a href="{% url 'login' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Log In</a>
                    <a href="{% url 'register' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Sign Up</a>
                    {% endif %}
                </div>

            </div>

            <div class="w3-container w3-white w3-round w3-margin-top">
                <p class="w3-center"><b>My Question</b></p>
                <p>View the questions you've asked </p>
                {% if user.is_authenticated %}
                <div class="w3-margin-top w3-margin-bottom">
                    <a href="{% url 'question_progress' %}"
                        class="w3-round-large w3-center w3-btn w3-blue w3-block">View</a>
                </div>
                {% else %}
                <p class="w3-text-red">Please Login To Your Account to View </p>
                {% endif %}
            </div> <br>
            <!-- Accordion -->
            <div class="w3-card w3-round">
                <div class="w3-white">
                    <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                    <div id="Demo1" class="w3-hide w3-container">
                        <p>Some text..</p>
                    </div>
                    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Favourite</button>
                    <div id="Demo2" class="w3-hide w3-container">
                        <p>Some other text..</p>
                    </div>
                </div>
            </div> <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>Interests</p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">News</span>
                        <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                        <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                        <span class="w3-tag w3-small w3-theme-d2">Games</span>
                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                        <span class="w3-tag w3-small w3-theme">Games</span>
                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                        <span class="w3-tag w3-small w3-theme-l2">Food</span>
                        <span class="w3-tag w3-small w3-theme-l3">Design</span>
                        <span class="w3-tag w3-small w3-theme-l4">Art</span>
                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                    </p>
                </div>
            </div>
            <!--End Left Column-->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7" style="overflow: auto; height: 900px;">
            <!--TOP Middle-->
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Search For A Question</h6>
                            <p contenteditable="true" class="w3-border w3-round-large w3-padding">Type in the keyword
                                .......</p>
                            <a href="{% url 'question_list' %}" class="w3-button w3-round-large w3-blue"> Search</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Top Middle-->

            <!--Suggested Questions Intro-->

            <div class="w3-container w3-card w3-white w3-round w3-margin">
                <div class="profile-img">
                    <img class="w3-circle" src="{% static 'images/femaleprofile.png' %}" alt="Profile">
                    <div class="profile-text w3-text-grey">
                        <p><b>Adebiyi Segun</b></p>
                        <p>12-10-2002"</p>
                        <p class="w3-tag w3-round-large w3-blue">article</p>
                    </div>
                </div>
                <div class="w3-container">
                    <h3><b>What is the major problem in development mode?</b></h3>
                    <img src="{% static 'images/learn.jpg' %}" class="w3-round-medium q-image" alt="Image here">
                    <p class="w3-margin-top">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti velit
                        minus totam quod dolorem, voluptatem eos quam cum nesciunt ea?</p>
                    <div class="w3-margin-top w3-margin-bottom reaction">
                        <i class="far fa-heart"></i><span class="w3-margin-left">20 reactions</span>
                        <i class="far fa-comment w3-margin-left"></i><span class="w3-margin-left">5 comments</span>
                    </div>
                </div>
            </div>
            <!--End questions intro-->
            <!-- Bottom paginator -->
            <div class="pagination w3-content w3-hide-small w3-margin-top w3-center w3-container">
                <div class="step-links">
                    {% if posts.has_previous %}
                    <a href="?page=1">
                        <div class="w3-button w3-round-large w3-blue w3-ripple">&laquo; first </div>
                    </a>
                    <a href="?page={{ posts.previous_page_number }}">
                        <div class="w3-button w3-round-large w3-blue w3-ripple">previous</div>
                    </a>
                    {% endif %}
                    <div class="w3-large w3-tag w3-card w3-blue current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </div><br>
                    <div class="w3-margin-top">
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">
                            <div class="w3-button w3-round-large w3-border-green w3-ripple">next</div>
                        </a>
                        <a href="?page={{ posts.paginator.num_pages }}">
                            <div class="w3-button w3-round-large w3-blue w3-ripple">last &raquo;</div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--End Paginator-->
        </div>



        <!-- Right Column -->
        <div class="w3-col s12 m3">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center"><b>CBT Exam Portal</b></h4>
                    <img class="w3-round" src="{% static 'images/learn.jpg' %}" alt="cbt" style="width:100%;">
                    <div class="w3-margin-top">
                        <p class="w3-opacity w3-center">Did you know?</p>
                        <p>
                            An effective way to boost your CGPA is by practicing free
                            cbt on easyCAMPUS. it increases confidence ,aids learning and increases the rate at which
                            you
                            decide during the
                            exam. Select a mode to get started!
                        </p>
                    </div>

                    <a href="{% url 'quiz_index' %}" class="w3-btn w3-margin-top w3-block w3-blue w3-round-large">Quiz
                        mode</a><br>
                    <a href="{% url 'quiz_index' %}"
                        class="w3-btn w3-block w3-blue w3-round-large w3-margin-bottom ">Exam mode</a>

                </div>
            </div> <br>
            <div class="w3-container w3-card w3-white">
                <h3>Popular Tags</h3>
                <p>#appliedmech</p>
                <p>#enginemaths</p>
                <p>#hard</p>
            </div>

            <!-- End Right Column -->
        </div>

        <!--End Grid-->
    </div>
</div>

{% endblock %}