{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %} {% endblock %}</title>
	<meta name="viewport" content="width = device-width , initial-scale=1" />
	<meta charset="UTF-8" />
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body class="w3-light-grey">
	<header>
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
				<button id="openNav"
					class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"><i
						class="fa fa-bars"></i></button>
				<a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d3"><i
						class="fa fa-home w3-margin-right"></i>EasyCampus</a>
				<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
						class="fa fa-globe"></i></a>
				<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
					title="Account Settings"><i class="fa fa-user"></i></a>
				<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
					title="Messages"><i class="fa fa-envelope"></i></a>
				<div class="w3-dropdown-hover w3-hide-small">
					<button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
							class="w3-badge w3-right w3-small w3-green">3</span></button>
					<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
						<a href="#" class="w3-bar-item w3-button">One new friend request</a>
						<a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
						<a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
					</div>
				</div>
				<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
					title="My Account">
					<img src="{% static 'images/femaleprofile.png' %}" class="w3-circle" style="height:23px;width:23px"
						alt="Avatar">
				</a>
			</div>
		</div>
		<!-- Navbar on small screens -->
		<div id="sidebar"
			class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-animate-top w3-medium w3-large">
			<div class="link-mobile">
				<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
				<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
				<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
				<a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
			</div>
		</div>

	</header>

	{% block content %} {% endblock %}

	<!-- Footer -->
	<footer class="w3-dark-grey w3-margin-top">
		<div class="w3-row-padding w3-margin-top">
			<div class="w3-third">
				<h3>About Us</h3>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, ad dignissimos accusantium suscipit
					earum vitae placeat officiis delectus sit sequi minima nulla architecto mollitia dolorem accusamus
					natus. Odit, dolorum quo!
					Magni deserunt eligendi recusandae incidunt porro ad quae et soluta, ea maiores, autem nesciunt illo
					fuga, est in? Voluptatibus in molestiae a provident illo impedit quod quia iusto error cum?</p>
			</div>
			<div class="w3-third">
				<h3>Quick Links</h3>
			</div>
			<div class="w3-third">
				<h3>EasyCampus Is Social</h3>
			</div>
		</div>
		<div class="w3-container w3-center w3-dark">
			<p><strong> 2019 to 2021 | ™ Easy Campus | ♥ All Rights Reserved ♥</strong></p>
		</div>
	</footer>

	<script>
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className =
					x.previousElementSibling.className.replace(" w3-theme-d1", "");
			}
		}
	</script>
	<script>
		$(document).ready(function () {
			$("#openNav").click(function () {
				$('#sidebar').toggleClass("w3-hide").toggleClass("w3-show");
			});
		});
	</script>
</body>

</html>