{% extends "layout.html" %}
{% load static %}
{% block title_block %}
Login
{% endblock %}


{% block content%}
<div class=" w3-row  w3-margin-top">


<div class=" w3-container w3-col s12 m6">

<div class="w3-container w3-large w3-blue ">
<h4>Login</h4>
</div>

<div class="w3-container w3-white">

{% if form_error %}
<div class="w3-container w3-red w3-margin-top">

<p>{{ form_error }}</p>

</div>
{% endif %}
<form id="login_form" method="post" action="{% url 'login' %}">
{%csrf_token%}
<p>
<label class="w3-label ">Username:</label>
<input class="w3-input w3-round-xxlarge w3-block" type="text" style="width:90%" placeholder="Adeboy23" name="username" required>
</p>

<p>
<label class="w3-label ">Password:</label>
<input class="w3-input w3-round-xxlarge w3-block" type="password" style="width:90%" placeholder="enter your password" name="password" required>
</p>
<p>
<button name='login' type= 'submit' class="w3-btn w3-section w3-green w3-round-xxlarge w3-ripple">Login</button></p>



</form>
<p>
<button name= 'register' onclick ="location.href='{% url "register" %}' " class="w3-btn w3-round-xxlarge w3-section w3-blue w3-ripple">Register</button>
</p>

</div>
</div>

<div class="w3-container w3-panel w3-leftbar  w3-col s12 m6 w3-white">
<p class="w3-xxlarge w3-serif">
<i>
Learn as though you would never be able to master it; hold it as though you would be in fear of losing it
</i>
<p>Confucious</p>
</p>

</div>
</div>

{% endblock %}