{% extends "layout.html" %}

{% block title %}
Dash Board

{% endblock %}


{% block content %}
{%  if user.is_authenticated %}
  {% if cat_scores %}


<div class="w3-margin-top  w3-row">

<!--User Details Container-->
	<div class=" w3-container w3-col s12 m6">
		<div class="w3-container w3-blue">
			<h5>Basic Info</h5>
		</div>

		<ul class="w3-ul w3-white">


	  		<li class="w3-padding-16 ">
				First Name:     {{ user.first_name|title }}

	  		</li>
	  		<li class="w3-padding-16 ">
				Last Name:    {{ user.last_name|title }}

		  	</li>
		  	<li class="w3-padding-16 ">
				Faculty:    {{ user.userprofile.faculty|title }}

			</li>
			<li class="w3-padding-16 ">
				Level:     {{ user.userprofile.level }}
			</li>

			<li class="w3-padding-16 ">
				Gender:     {{ user.userprofile.gender|title }}
			</li>

  		</ul>


	</div>

	<!--Quiz Histrory container-->
	<div class="w3-container w3-col s12 m6 ">

		<div class="w3-blue w3-center ">
			<h1>Quiz History</h1>
		</div>

<div class="w3-white">
			<table class=" w3-table w3-margin-bottom w3-bordered w3-striped w3-white">

				<thead>
				<tr>
					<th>Quiz</th>
					<th>Correctly answered</th>
					<th>Incorrect</th>
					<th>GD<br>(5.0)</th>
				</tr>
				</thead>

				<tbody>


				{% for cat, value in cat_scores.items %}
				<tr>
				    {% if value.1 > 1 %}
					<td>{{ cat }}</td>
					<td>{{ value.0 }}</td>
					<td>{{ value.1 }}</td>
					<td>{{ value.2|floatformat:'2' }}</td>
				{% endif %}
				</tr>

				{% endfor %}

				</tbody>

			</table>
		</div>

	</div>
	{% endif %}


</div>


<div class="w3-container w3-center">
	<a href="{% url 'quiz_index' %}" class="w3-button w3-round-xxlarge w3-blue w3-hide-large">Proceed To Take New Quiz</a>
</div>


<div class="w3-container w3-margin-top w3-center">
	<a href="{% url 'question_progress' %}" class="w3-round-xxlarge w3-button w3-blue">View the questions you've asked</a>
</div>


  {% endif %}
{% endblock %}
