{% extends 'layout.html' %}

{% block content %}
<div class="w3-container w3-padding-16 w3-border">

	<h4 class="w3-content w3-text-grey"><b>Approved Questions</b></h4>

    {% for question in questions %}
    <div class=" w3-content w3-padding w3-margin-top w3-white w3-border">
        <h4><b>{{question.title|title}}</b></h4>
        <p1 class="w3-text-grey">Asked by you on {{question.date_asked}}</p1>
        {% if question.image_upload %}
        <!--Pass-->
        {% endif %}

        <div class="w3-margin-top w3-container">
            <a href="{{ question.get_absolute_url }}" style="text-decoration: none;">
         <button class="w3-border w3-button w3-blue w3-round-xxlarge">View</button> </a>
        </div>
    </div>

                {% empty %}

                <div class=" w3-content w3-padding w3-margin-top w3-white w3-border">
                    <h4 class="w3-content w3-text-grey"><b>None of your questions has been approved</b></h4>

                </div>

        {% endfor %}

    <!-- paginator -->


    <div class="pagination w3-content w3-margin-top w3-center w3-container">
        <div class="step-links">
        {% if questions.has_previous %}
        <a href="?page=1"><div class="w3-button w3-round-large w3-blue w3-ripple">&laquo; first </div></a>
        <a href="?page={{ questions.previous_page_number }}"><div class="w3-button w3-round-large w3-blue w3-ripple">previous</div></a>
        {% endif %}

        <div class="w3-large w3-tag w3-card w3-blue current">
        Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        </div><br>
        <div class= "w3-margin-top">
        {% if questions.has_next %}
        <a href="?page={{ questions.next_page_number }}"><div class="w3-button w3-round-large w3-border-blue w3-ripple">next</div></a>
        <a href="?page={{ questions.paginator.num_pages }}"><div class="w3-button w3-round-large w3-blue w3-ripple">last &raquo;</div></a>
        {% endif %}
        </div>
        </div>
        </div>




            </div>
        <div class="w3-container w3-margin-top w3-padding-16 w3-border">

        <h4 class="w3-content w3-text-grey">Questions pending approval</h4>

        {% for notapproved in unapproved %}
            <div class=" w3-content w3-padding w3-margin-top w3-white w3-border">
                <h5><b>{{notapproved.title|title}}</b></h5>
                <p1 class="w3-text-grey">Asked by you on {{notapproved.date_asked}}</p1>
                {% if notapproved.image_upload %}
                <!--Pass-->
                {% endif %}


            </div>

        {% empty %}
<h5 class="w3-content w3-text-grey">No question pending approval.....</h5>
        {% endfor%}


        </div>

{% endblock %}
