-f /usr/share/pip-wheels
asgiref==3.4.1
certifi==2017.7.27.1
chardet==3.0.4
click==8.0.1
Django==3.2.7
django-model-utils==4.0.0
django-passwords==0.3.12
django-quill==0.1.0
django-summernote==0.8.11.6
django-tagging==0.5.0
future==0.18.2
h11==0.8.1
h2==3.2.0
hpack==3.0.0
html2text==2020.1.16
http3==0.6.7
hyperframe==5.2.0
idna==2.7
importlib-metadata==4.6.4
joblib==1.0.1
mysqlclient==1.4.6
nltk==3.6.2
Paperboy==1.0.1
Pillow==7.1.2
psycopg2==2.8.5
python-dateutil==2.8.1
python-dotenv==0.19.0
pytz==2017.2
rake-nltk==1.0.4
regex==2021.8.3
requests==2.20.0
requests-async @ https://github.com/encode/requests-async/archive/master.zip
rfc3986==1.4.0
six==1.14.0
sorl-thumbnail==12.7.0
sqlparse==0.3.1
tagging==0.2.1
tqdm==4.62.1
typing-extensions==3.10.0.0
urllib3==1.24.3
zipp==3.5.0
