{% if previous.answers %}

  {% if user_was_incorrect %}
  <div class="w3-container">
    <div class="w3-red w3-padding">
  	  <p><strong>You answered this question incorrectly</strong></p>
    </div>
  {% endif %}
<div>
  <table class="w3-table w3-striped w3-bordered">
    <tbody>
  	  {% for answer in previous.answers %}
        {% if answer.correct %}
  	    <tr class=" w3-text-green">
  		  <td>{{ answer.content|safe }}</td>
  		  <td><strong> This is the correct answer</strong></td>
        {% else %}
  		<tr>
      	  <td>{{ answer.content|safe }}</td>
  		  <td>
  			{% if previous.question_type.MCQuestion %}
  			  {% if answer.id|add:"0" == previous.previous_answer|add:"0" %}
  			    This was your answer
  			  {% endif %}
  			{% endif %}
  		  </td>
  	  {% endif %}
  	    </tr>
  	{% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
