{% extends 'layout.html' %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--Quiz details div-->
<div class="w3-container w3-border w3-white ">
<div class="w3-text-black w3-center w3-large">
      <h2>{{ quiz.title }}</h2>
      <h3 class="w3-small w3-opacity w3-text-grey">Category: {{ quiz.category }}</h3>
</div>

<!--End quiz detail-->

<!--For single attempt quiz-->
{% if quiz.single_attempt %}
    <h4>You will only get one attempt at this quiz.</h4>
{% endif %}

<!--Quiz Description-->
<div class="w3-opacity w3-small w3-text-grey ">
  <p>Description:</p>
</div>
        <div class='w3-container w3-border w3-white w3-justify w3-padding-24'>
          <p>{{ quiz.description|linebreaks }}</p>
        </div>


<div class="w3-container w3-margin-bottom">
<p>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}"><button class= "w3-button w3-left w3-border-blue w3-border w3-round-large w3-ripple">
	Start</button>
  </a>
</p>




</div>

</div>
<!--When user is not a member-->
{% else %}
<div class="w3-container w3-border w3-red ">
  <h2>You must log in First!</h2><br>
</div>

  <button onclick="location.href='{% url "login" %}'" class="w3-button w3-blue w3-border w3-round-large w3-ripple">
    Login/register
  </button>

{% endif %}

{% endblock %}
