@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');
/*--------------------UTILITIES-------------------*/
* {
  box-sizing: border-box;
}
#other_forms{
  display: none;
}
#close-btn{
  display: none;
  cursor: pointer;
}
.w-100{
  width: 100%;
}

h1{
  font-size: 24px;
  font-family: Poppins, sans-serif;
}
@media only screen and (max-width: 600px) {
h1{
  font-size: large;
  font-family: Poppins, sans-serif;
}
}
.logo-width{
 width: 140px;
}
header {
  font-size: 35px;
  font-weight: 600;
  padding: 6px 0;
  font-family: Poppins, sans-serif;
  z-index: 999999;
}


header a:hover{
    text-decoration:none;
}
a{
  text-decoration: none;
}

.question-container a:hover{
  text-decoration: underline;
}

.d-flex-0{
  display:inline-flex;
  flex-direction: row;
  gap: 15px;
}
.margin-2{
  margin-top: 0 !important;
  padding: 0 !important;
}

.d-flex{
  display: flex;
  flex-direction: row;
}
.article img{
  height:auto;
  max-width:100%;
  display:block;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:5px
}
.article{
  font-size:18px!important;
  }
body{
  font-family: 'Prompt', sans-serif;
  max-width:1400px;
}
.body-div{
  margin-top: 48px;
}
.link-mobile{
  margin-top: 20px;
}
#sidebar{
  overflow: auto;
  height: 100%;
  z-index: 1;
}
.middle-column{
  overflow: auto;
  height: 900px;
}
.profile-img-0{
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profile-img-0 img{
  height: 45px;
  width: 45px;
}
.d-flex {
  display: flex;
  flex-direction: row;
}

.member-icon {
  height: 30px;
  width: 30px;
}

.member-fix {
  margin: 5px;

}

.profile-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
}
.profile-img img {
  height: 45px;
  width: 45px;
}

.profile-img > div {
  margin-left: 10px;
}
.q-image {
  width: 100%;
  height: 350px;
}
.profile-text > p{
  margin: 0px;
}

.question-title{
  font-size: 24px;
  font-family: Poppins, sans-serif;
}

/*   [------------FOOTER--------------- ]*/

.footer{
  height: 400px;
  font-weight: 200;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333333;

}
.footer .footer-container{
  position: absolute;
  padding: 25px;
}

.footer * {
  color: rgb(235, 230, 230);
}
.footer-link{
    opacity: 0.5;
}

.quick-links {
  list-style-type: none;
    display: flex;
    height: 140px;
    flex-flow: column wrap;

}
.quick-links a{
 margin-top: 20px;
 transition: padding-left 0.5s;
}
.quick-links a:hover{
  padding-left: 10px;
}

.social{
  margin-left: 20px;
}
.social-link{
  margin-top: 10px;
}
.quick-links-header{
  margin-left: 35px;
}

.copy-div{
  margin-top: 35px;
}
/* ----------------[Media Queries] --------------------- */

@media only screen and (max-width: 600px) {


  .middle-column{
    overflow: hidden;
    height: auto;
  }
  .middle-column > div{
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .body-div{
    margin: 0 !important;
    padding: 0 !important;
  }
  .container-mobile{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 20px !important;
    border-radius: 0 !important;
  }
  .container-mobile-0{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
  }
  .container-mobile-1{
    margin-top: 20px !important;
  }
  .border-fix-mobile{
    border-radius: 0 !important;
  }
  .footer{
    height: 900px;
  }
  .quick-links-header{
    margin: 0;
  }
  .copy-div{
  margin-top: 55px;
}
}
/*-   MEDIA QUERIES [DESKTOP ONLY] -*/
@media screen and (min-width: 800px){
  .margin-desktop{
    margin: 15px;
  }
  .ml-desk{
    margin-left: 0px;
  }
}
#spinner{
  height: 470px;
  width: 324px;
}
   /* Smartphones ----------- */
  @media only screen and (max-width: 760px) {
    #dev { display: none; }
    #spinner{
      width: 100%;
    }
  }

.grid-container{
  display: inline-grid;
  grid-gap: .5rem;
  grid-template-columns: auto;
  justify-content: space-between;
}
#spinner{
  display: inline-grid;
  grid-gap: .5rem;
  grid-template-columns: auto;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .grid-container{ grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(4, 1fr); }
}
.grid-button{
  display: inline-grid;
  grid-gap: .2rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-flow, 186px);
}
.errorlist{
  list-style-type: none;
}
.errorlist li{
  color: red;
}
.img-preview{
  height: 200px;
  width: 260px;
  background: #fff;
  overflow: hidden;

}
.img-preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.img-preview-2{
  height: 200px;
  width: 200px;
  background: #fff;
  overflow: hidden;

}
.img-preview-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-file input[type='file']{
  display: none;
}
.custom-file label{
  cursor: pointer;
  color: #000;
  margin: auto;
  margin-top: 15px;
}
.float{
  float: left;
  margin-right: 50px;
}
.clearfix {
overflow: auto;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
textarea{
position: relative;
}
textarea::placeholder{
position: absolute;
bottom: 0;
}