{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% load class_name %}
{% block title %}
{{ question.title }}
{% endblock %}
{% block meta %}
<!- SEO ->
	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{question.get_absoulte_uri}}"
      },
      "headline": "{{question.title}}",
      "description": "{{question.body|pure_text|truncatechars:7}}",
      {% if quetion.image_upload %}
      "image": "https://www.easyclassmate.com{{question.image_upload.url}}",
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "{{question.asked_by}}",
        "url": "{{question.asked_by.get_absolute_url}}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Easyclassmate",
        "logo": {
          "@type": "ImageObject",
          "url": "{% static 'images/easyclassmate.ico' %}"
        }
      },
      "datePublished": "{{question.date_asked}}",
      "dateModified": "{{question.updated}}"
    }
    </script>
{% endblock %}
{% block content %}

<div class="w3-row w3-margin-top">
    <div class="w3-col m8 w3-white">
        <!--Post thumbnail-->
        {% if question.image_upload %}
        {% thumbnail question.image_upload "750x750" format="WEBP" as im %}
        <img class="w3-image" src='{{im.url}}' alt="{{ question.title }} thumbnail" width="100%">
        {% endthumbnail %}
        {% endif %}
        <!-- Post Header-->
        <div class="w3-container w3-margin-top">
            <h1><b>{{ question.title }}</b></h1>
        </div>
        {% if question.status == "rejected" %}
        <div class="w3-container w3-text-red">
            <p>Your {{question.type}} was rejected because it contains disallowed images or content...</p>
        </div>
        {% endif %}
        {% if question.status == "pending" %}
        <div class="w3-container w3-text-yellow">
            <p>Your {{question.type}} will be visible to the public after it has been approved (usually takes less than 15min)...</p>
        </div>
        {% endif %}
        <div class="profile-img">
            {% if question.asked_by.userprofile.profile_photo %}
            {% thumbnail question.asked_by.userprofile.profile_photo "80x80" crop="center" format="WEBP" as im %}
            <img class="w3-circle" width="{{im.width}}" height="{{im.height}}" src="{{im.url}}" alt="{{question.asked_by.username}}'s name" >
            {% endthumbnail %}
            {% endif %}
            <div class="profile-text w3-text-grey">
                <p><b>{{question.asked_by.username|title}}</b> {{question.date_asked}}</p>
                <p class="w3-tag w3-round-large w3-blue">{{question.type}}</p>
            </div>
        </div><br>
        <!--post body-->
        <div class="w3-container article">

        {{ question.body|safe }}
        {% if tags %}
        <p class="w3-text-grey">
            {% for tag in tags %}
            <a href="{% url 'query' action='tag' arg=tag %}">#{{tag}}</a>
            {% endfor %}
        </p>
        {% endif %}
        </div>
        {% if question.status == "approved" %}
        <!--Answers Section-->

        <div class="w3-container w3-padding w3-margin-top">
            {% with answer.count as total_answers %}
            <div class="w3-container">
                <h3 class="w3-xlarge w3-left">
                    <b>Answer{{ total_answers|pluralize }}({{ total_answers }})</b>
                </h3>
                {% endwith %}
                {% if request.user.is_authenticated %}
                <div class="w3-right">
                    <a class="vote-button w3-btn {% if request.user in question.votes.all %}w3-red{% else %}w3-blue{% endif %} w3-round-medium" href="." data-id="{{ question.id }}" data-action="{% if request.user in question.votes.all %}down_{% else %}up_{% endif %}vote">
                       <span>
                        {% if request.user in question.votes.all %}
                        Down vote
                        {% else %}
                        Up vote
                        {% endif %}
                        </span>
                        <b class="vote-count">{{question.votes.count}}</b>
                    </a>
                </div>
                {% endif %}
            </div>
            {% for answer in answers %}
            <div class="w3-container w3-row d-flex w3-border w3-round-medium">
                <div class="w3-col m1 w3-center s2 w3-margin-top">
                    <a href="#" onclick="upvote_question({{answer.id}},'link_{{answer.id}}'); return false;"><i id="link_{{answer.id}}" class="fas fa-chevron-up fa-1x {% if request.user in answer.votes.all %}w3-text-blue{% endif %}"></i></a>
                    <p id="{{answer.id}}" class="w3-xlarge">{{answer.votes.count}}</p>
                </div>
                <div class="w3-col m11 s10">
                <h4 class="info"><b>{{ answer.name}}:</b></h4>
                <p class="w3-text-grey">{{ answer.created }}</p>
                <p>{{ answer.body|linebreaks }}</p>
                </div>
            </div><br>
            {% empty %}
            <p>There are no answers yet, check back later.</p>
            {% endfor %}
            {% if new_answer %}
            <h3 id="new_answer" class="w3-container">Your answer has been added</h3>
            <br>
            <div class="w3-animate-zoom w3-container w3-row d-flex w3-border w3-round-medium">
                <div class="w3-col m1 s2 w3-margin-top">
                    <a href="#"  onclick="upvote_question({{new_answer.id}},'link_{{new_answer.id}}'); return false;"><i id="link_{{new_answer.id}}" class="fas fa-chevron-up fa-1x {% if request.user in answer.votes.all %}w3-text-blue{% endif %}"></i></a>
                    <p id="{{new_answer.id}}" class="w3-xlarge">{{new_answer.votes.count}}</p>
                </div>
                <div class="w3-col m11 s10">
                <h4 class="info"><b>{{ new_answer.name}}:</b></h4>
                <p class="w3-text-grey">{{ new_answer.created }}</p>
                <p>{{ new_answer.body|linebreaks }}</p>
                </div>
            </div><br>
            {% endif %}
        </div>

        <!-- paginator -->
        <div class="pagination w3-margin-top w3-center w3-container">
            <div class="step-links">
            {% if answers.has_previous %}
            <a href="?page=1"><div class="w3-button w3-round-large w3-blue ">&laquo; first </div></a>
            <a href="?page={{ answers.previous_page_number }}"><div class="w3-button w3-round-large w3-blue ">previous</div></a>
            {% endif %}

            <div class="w3-large w3-round-medium w3-tag w3-card w3-blue current">
            Comment {{ answers.number }} of {{ answers.paginator.num_pages }}
            </div><br>
            <div class= "w3-margin-top">
            {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}"><div class="w3-button w3-round-large w3-border-blue w3-border">next</div></a>
            <a href="?page={{ answers.paginator.num_pages }}"><div class="w3-button w3-round-large w3-blue ">last &raquo;</div></a>
            {% endif %}
            </div>
            </div>
            </div><br>

        {% if request.user.is_authenticated %}
            <!--Answer Form-->

        <div class="w3-margin w3-round-medium w3-leftbar w3-border-blue w3-border">
           <div class="w3-container">
            <form action="{% url 'question_detail' slug=question.slug pk=question.id %}#new_answer"  method="post">
                {% csrf_token %}
                <p>
                <textarea placeholder="Type in your answer..." class="w3-input" name="body" id="id_body" required></textarea>
                </p>
                <p>
                <input class="w3-button w3-blue w3-round-medium" type="submit" value="Answer">
                </p>
            </form>
        </div>
        </div>
        {% else %}
        <div class="w3-container">
        <small>
            Please <a class="w3-text-blue" href="{% url 'login' %}">login</a> to add your react on question...
        </small>
    </div> <br>
        {% endif %}
        {% endif %}
    </div>

    <div class="w3-col m4 w3-container container-mobile">

        <div class="w3-container  w3-white">
            <h3 class="w3-center w3-border-bottom w3-padding-16">Similar Questions</h3>
            {% for question in similar_questions %}
            <div class="d-flex-0 w3-margin-bottom">
                {% if question.image_upload %}
                {% thumbnail question.image_upload "80x80" crop="center" format="WEBP" as im %}
                <img width="{{im.width}}" height="{{im.height}}" class=" w3-round-medium" src="{{im.url}}" alt="{{question.title}} thumbnail">
                {% endthumbnail %}
                {% else %}
                {% thumbnail question.asked_by.userprofile.profile_photo "80x80" crop="center" format="WEBP" as im %}
                <img width="{{im.width}}" height="{{im.height}}" class=" w3-round-medium" src="{{im.url}}" alt="{{question.title}} thumbnail">
                {% endthumbnail %}
                {% endif %}
                <div>
                    <a href="{{question.get_absolute_url}}">
                    <h5 class="margin-2">{{question.title}}</h5>
                    <p class="w3-text-grey">{{question.asked_by}} - {{question.date_asked}} </p>
                    </a>
                </div>
            </div>
            {% empty %}
            <div class="w3-center w3-opacity w3-margin">
                <p>No similar questions yet...</p>
            </div>
            {% endfor %}
    </div>

    <br>
{% if question.group_asked.all %}
    <div class="w3-white w3-container">
        {% for group in question.group_asked.all %}
        <h4 class="w3-center w3-padding-16"><b>{{group.name}}</b></h3>
            <div class="w3-center ">
                {% thumbnail group.group_thumb "150x150" crop="center" format="WEBP" as im %}
                <img width="{{im.width}}" height="{{im.height}}"class="w3-circle" src="{{im.url}}" alt="{{group.name}} Thumbnail">
                {% endthumbnail %}
            </div>

            <p class="w3-border w3-padding">{{group.description}}</p>

            <p><b>{{group.members.count}}</b> members</p>
            <a href="{{group.get_absolute_url}}" class="w3-button w3-blue w3-round-medium w3-margin-bottom">Visit</a>
            {% endfor %}
    </div>
    {% endif %}
</div>
</div>
        {% endblock %}
        {% block scripts %}
        <script>
      $.ajaxSetup({
          headers: {"X-CSRFToken":'{{csrf_token}}'}
          });

      $('a.vote-button').click(function(e){
          e.preventDefault();
          $.post('{% url "vote_post" %}',
              {
                  id: $(this).data('id'),
                  action: $(this).data('action')
              },
              function(data){
                  if (data['status'] == 'ok') {
                      var previous_action = $('a.vote-button').data('action');
                      // toggle data-action
                  $('a.vote-button').data('action',
                     previous_action == 'up_vote' ? 'down_vote' : 'up_vote');
                      // toggle link text
                      if (previous_action == 'up_vote'){
                          $('a.vote-button span').text('Down vote');

                      }
                      else{
                        $('a.vote-button span').text('Up vote');

                      }
                          // update total followers
                      var previous_followers = parseInt(
                      $('b.vote-count').text());
                      $('b.vote-count').text(previous_action == 'up_vote' ? previous_followers + 1 : previous_followers - 1);
                      $('a.vote-button').toggleClass('w3-blue w3-red');
                  }
              }
          );
      });
  </script>
  <script>
      function upvote_question(id,a){
        var count_id =document.getElementById(id);
        var link = document.getElementById(a)
          $.post('{% url "upvote_answer" %}',
              {
                  id: id
              },
              function(data){
                if (data['status'] =='ok'){
                    var action = Number(data['add']);
                    var increase = Number(count_id.innerHTML) + action;
                    count_id.innerHTML = increase;
                    link.classList.toggle('w3-text-blue');
                }
              });

      }
  </script>
  {% endblock %}