{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}

Easy Campus
{% endblock %}


{% block content %}

<!-- The Grid -->
<div class="w3-row container-mobile">
    <!-- Left Column -->
    <div class="w3-col container-mobile m2 w3-margin-bottom w3-hide-small">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
            <div class="w3-container">
                <h4 class="w3-center"><b>Profile</b></h4>
                {% if request.user.is_authenticated %}
                    {% if request.user.userprofile.profile_photo %}

                    <p class="w3-center">
                        {% thumbnail request.user.userprofile.profile_photo "106x106" crop="center" format="WEBP" as im %}
                        <img src="{{im.url}}" class="w3-circle" height="{{im.height}}" width="{{im.width}}" alt="{{request.user.username}}'s Profile Pics">
                        {% endthumbnail %}
                    </p>
                        {% else %}
                    {% if request.user.userprofile.gender|title == "Male" %}
                    <p class="w3-center"><img src="{% static 'images/maleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p>
                    {% else %}
                    <p class="w3-center"><img src="{% static 'images/femaleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p>
                    {% endif %}
                    {% endif %}
                <hr>
                    <p>{{ request.user.get_full_name|title }}</p>
                    <p>{{ request.user.userprofile.faculty|title }}</p>
                    <p> {{ request.user.userprofile.level }}</p>
                    <p> {{ request.user.userprofile.gender|title }} </p>
                    <a href="{% url 'logout' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Log Out</a>
                {% else %}
                    <p class="w3-center">
                        <img src="{% static 'images/maleprofile.png' %}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar">
                        </p>
                    <a href="{% url 'login' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Log In</a>
                    <a href="{% url 'register' %}" class="w3-block w3-blue w3-btn w3-margin-bottom w3-round">Sign Up</a>
                {% endif %}
            </div>

        </div>

        <div class="w3-container w3-white w3-round w3-margin-top">
            <p class="w3-center"><b>My Question</b></p>
            <p>View the questions you've asked </p>
            {% if user.is_authenticated %}
            <div class="w3-margin-top w3-margin-bottom">
                <a href="{% url 'question_progress' %}"
                    class="w3-round-large w3-center w3-btn w3-blue w3-block">View</a>
            </div>
            {% else %}
            <p class="w3-text-red">Please Login To Your Account to View </p>
            {% endif %}
        </div> <br>
        <!-- Accordion -->
        <div class="w3-card w3-round">
            <div class="w3-white">
                <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                        class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                <div id="Demo1" class="w3-hide w3-container">

                    <ul class="w3-ul">
                        {% for group in request.user.groups_joined.all %}
                        <li><a href="{{group.get_absolute_url}}">{{group.name}}</a></li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div> <br>

        <!-- Interests -->
        <div class="w3-card w3-round w3-white w3-hide-small">
            <div class="w3-container">
                <p>Interests</p>
                <p>
                    <span class="w3-tag w3-small w3-theme-d5">News</span>
                    <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                    <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                    <span class="w3-tag w3-small w3-theme-d2">Games</span>
                    <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                    <span class="w3-tag w3-small w3-theme">Games</span>
                    <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                    <span class="w3-tag w3-small w3-theme-l2">Food</span>
                    <span class="w3-tag w3-small w3-theme-l3">Design</span>
                    <span class="w3-tag w3-small w3-theme-l4">Art</span>
                    <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                </p>
            </div>
        </div>
        <!--End Left Column-->
    </div>

    <!-- Middle Column -->
    <div class="w3-col  m7 middle-column">
        <!--TOP Middle-->
        <div class="w3-row-padding ">
            <div class="w3-col m12 container-mobile-0">
                <div class="w3-card w3-round container-mobile-0 w3-white ">
                    <div class="w3-container w3-padding">
                        <h6 class="w3-opacity">{% if request.user.is_authenticated %}Hello {{request.user.get_full_name}}!, {% endif %}What would you like to do?</h6>
                    <form action="{% url 'query' action='search' arg='query' %}" method="GET">
                        <input name="search_query" type="text" id = "id_search_query"  class="w3-border w3-block w3-round-large w3-padding" placeholder="Type in the keyword and hit search...." required>
                        <br>
                        <small> 
                            <button type="submit" class="w3-button w3-round-large w3-blue">Search</button>    
                            <a href="{% url 'quiz_index' %}" class="w3-button w3-round-large w3-blue">Practice CBT</a>
                            <a href="{% url 'ask_question' %}" class="w3-button w3-round-large w3-blue">Ask Question</a>
                        </small>
                    </form>
                        
                   
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Middle-->

        <!--Suggested Questions Intro-->
        {% for question in questions %}
        <div class="w3-container container-mobile w3-card w3-white w3-round question-container margin-desktop">

            <div class="profile-img">
                {% if question.asked_by.userprofile.profile_photo %}
                    {% thumbnail question.asked_by.userprofile.profile_photo "80x80" crop="center" format="WEBP" as im %}
                    <img class="w3-circle" src="{{im.url}}" alt="{{question.asked_by.username}}'s profile photo" height="{{im.height}}" width="{{im.width}}">
                    {% endthumbnail %}
                   
                    {% else %}
                    <img class="w3-circle" src="{% static 'images/femaleprofile.png' %}" alt="Profile">
                {% endif %}
                <div class="profile-text w3-text-grey">
                    <p><b>{{question.asked_by.username|title}}</b></p>
                    <p>{{question.date_asked}}</p>
                    <p class="w3-tag w3-round-large w3-blue">{{question.type}}</p>
                </div>
            </div>
            <div class="w3-container">
               
                    <h3 class="question-title"> <a href="{{question.get_absolute_url}}"><b>{{question.title}}</b></a></h3>
        
                {% if question.image_upload %}
                {% thumbnail question.image_upload "350x350" crop="center" format="WEBP" as im %}
                    <img src="{{im.url}}" class="w3-round-medium q-image" alt="{{question.title}} Thumbnail">
                {% endthumbnail %}
                {% endif %}
                <div class="w3-margin-top w3-margin-bottom reaction">
                    <i class="far fa-heart"></i><span class="w3-margin-left">{{question.votes.count}}</span>
                    <i class="far fa-comment w3-margin-left"></i><span class="w3-margin-left">{{question.answers.count}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--End questions intro-->
        <!-- Bottom paginator -->
        <div class="pagination w3-content w3-hide-small w3-margin-top w3-center w3-container">
            <div class="step-links">
                {% if questions.has_previous %}
                <a href="?page=1">
                    <div class="w3-button w3-round-large w3-blue w3-ripple">&laquo; first </div>
                </a>
                <a href="?page={{ questions.previous_page_number }}">
                    <div class="w3-button w3-round-large w3-blue w3-ripple">previous</div>
                </a>
                {% endif %}
                <div class="w3-large w3-tag w3-card w3-blue current">
                    Page {{ questions.number }} of {{ questions.paginator.num_pages }}
                </div><br>
                <div class="w3-margin-top">
                    {% if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}">
                        <div class="w3-button w3-round-large w3-border-green w3-ripple">next</div>
                    </a>
                    <a href="?page={{ questions.paginator.num_pages }}">
                        <div class="w3-button w3-round-large w3-blue w3-ripple">last &raquo;</div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--End Paginator-->
    </div>



    <!-- Right Column -->
    <div class="w3-col s12 m3 container-mobile-1">
        <div class="w3-card w3-round border-fix-mobile w3-white">
            <div class="w3-container">
                <h4 class="w3-center"><b>CBT Exam Portal</b></h4>
                <img class="w3-round w3-image" src="{% static 'images/learn.jpg' %}" alt="cbt">
                <div class="w3-margin-top">
                    <p class="w3-opacity w3-center">Did you know?</p>
                    <p>
                        An effective way to boost your CGPA is by practicing free
                        cbt on easyCAMPUS. it increases confidence ,aids learning and increases the rate at which
                        you
                        decide during the
                        exam. Select a mode to get started!
                    </p>
                </div>

                <a href="{% url 'quiz_index' %}" class="w3-btn w3-margin-top w3-block w3-blue w3-round-large">Get Started</a><br>
                
            </div>
        </div> <br>
        <div class="w3-container w3-card w3-white">
            <h3>Popular Tags</h3>
            {% for tag in tags %}
            <div class="w3-container">
                <a href="{% url 'query' action='tag' arg=tag %}">
                    <p class="w3-left">#{{tag.name}}</p>
                    <p class="w3-right">........{{tag.count}}</p>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- End Right Column -->
    </div>

    <!--End Grid-->
</div>


{% endblock %}