{% extends 'layout.html' %}
{% block title %}My Questions{% endblock %}
{% block content %}
<div class="w3-white w3-padding">
    <div class="w3-content">
        <h1>My Questions</h1>
        <div>
            {% for question in questions %}
            <a href="{{question.get_absolute_url}}">
                <div class="w3-padding w3-container w3-border w3-round-medium">
                    <h3>{{question.title}}</h3>
                    <p><i class="fas fa-sort"></i>{{question.votes.count}}  <i class="fas fa-comment w3-margin-left"></i>{{question.answers.count}}</p>
                    <p>{{question.date_asked|timesince}} ago  <span class="w3-right w3-round-large {% if question.status == 'approved' %}w3-blue{% elif question.status == 'pending' %}w3-amber w3-text-white{% else %}w3-red{% endif %} w3-btn">{{question.status}}</span></p>
                </div>
            </a>
            <br>
            {% empty %}
            <div class="w3-container">
                <p class="w3-center">No questions yet...(<a href="{% url 'ask_question' %}">ask</a>)</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}