{% extends "layout.html" %}
{% block title %}
Top Up
{% endblock%}
{% load paystack %}
{% block content %}
<div class="w3-padding w3-center  w3-sand">
    <h1><b>You Need More Chakra!</b></h1>
    <div class="w3-row-padding w3-margin">
        <div class="w3-padding w3-col m6 s12">
            {% paystack_button amount=100 label="Top Up <i class='fas fa-fire-alt fa-spin w3-text-white'></i>100" email=request.user.email button_class="w3-btn  w3-blue w3-block w3-round-large" %}
        </div>
        <div class="w3-padding w3-col m6 s12">
            <a href="#pricing" class="w3-btn  w3-border w3-border-black w3-block w3-round-large ">Get Discount</a>
        </div>
    </div>
</div>
<br>
<div class="w3-white w3-row w3-padding">
    <h2 class="w3-center">How To Get Free Chakra</h2>
    <div class="w3-col s12 m6 w3-container" >
        <h3>Claim Daily</h3>
        <p>Go to your dashboard everyday to claim <i class='fas fa-fire-alt fa-spin w3-text-blue'></i>2 for free.</p>
    </div>

    <div class="w3-col s12 m6 w3-container" >
        <h3>Post Articles</h3>
        <p>When you post engaging/interesting and unique articles, you get chakras when others upvote the article.</p>
    </div>

    <div class="w3-col s12 m6 w3-container" >
        <b><h3>Answer Questions</h3></b>
        <p>Whenever your answer to a question get upvoted, you also get chakras.</p>
    </div>
</div>
<br>
<div id ="pricing" class="w3-row w3-white w3-center w3-padding">
    <h2>Offers Available</h2>
        <div class="w3-col s12 m4 w3-round-medium">
            <p><i class='fas fa-fire-alt fa-spin w3-text-blue'></i> 200</p>
            <p>N170</p>
            <p>15% discount</p>
            <div class="w3-padding">
                <a href="{% url 'discount' 170 %}" class="w3-btn w3-block w3-blue w3-round-medium">Claim</a>
            </div>
        </div>

        <div class="w3-col s12 m4 w3-round-medium">
            <p><i class='fas fa-fire-alt fa-spin w3-text-blue'></i>500</p>
            <p>N400</p>
            <p>20% discount</p>
            <div class="w3-padding">
                <a href="{% url 'discount' 400 %}" class="w3-btn w3-block w3-blue w3-round-medium">Claim</a>
            </div>
        </div>
        <div class="w3-col s12 m4 w3-round-medium">
            <p><i class='fas fa-fire-alt fa-spin w3-text-blue'></i>800</p>
            <p>N600</p>
            <p>25% discount</p>
            <div class="w3-padding">
                <a href="{% url 'discount' 600 %}" class="w3-btn w3-block w3-blue w3-round-medium">Claim</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}