{% load static %}
{% load thumbnail %}
{% load notifications_tags %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width = device-width , initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.min.css" integrity="sha512-Z6UIAdEZ7JNzeX5M/c5QZj+oqbldGD+E8xJEoOwAx5e0phH7kdjsWULGeK5l2UjehKtChHDaUY2rQAF/NEiI9w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}?v=3" />
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
	<link rel="stylesheet" href="{% static 'css/w3.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
	<script src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body class="w3-light-grey">
	<header>
		<!-- Navbar on small screens -->
		<div id="sidebar" class="w3-bar-block w3-center w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-animate-top w3-medium w3-large">
			<div class="link-mobile">
				<a href="{% url 'question_list' %}" class="w3-bar-item w3-btn w3-padding-large">Homepage</a>
				<a href="{% url 'quiz_index' %}" class="w3-bar-item w3-btn w3-padding-large">Practice CBT</a>
				<a href="{% url 'ask_question' %}" class="w3-bar-item w3-btn w3-padding-large">Ask a question</a>
				<hr class="w3-clear">
				<a href="{% url 'groups_list' 'my' %}" class="w3-bar-item w3-btn w3-padding-large">Groups</a>
				<a href="{% url 'user_list' %}" class="w3-bar-item w3-btn w3-padding-large">Members List</a>
				{% if request.user.is_authenticated %}
				<a href="{% url 'profile' %}" class="w3-bar-item w3-btn w3-padding-large">Dashboard</a>
				<a href="{% url 'logout' %}" class="w3-bar-item w3-btn w3-padding-large">Logout</a>
				{%	else %}
				<a href="{% url 'login' %}" class="w3-bar-item w3-btn w3-padding-large">Login/Register</a>
				{% endif %}

				<hr class="w3-clear">
				<a href="#" class="w3-bar-item w3-btn w3-padding-large">About Us</a>
				<a href="#" class="w3-bar-item w3-btn w3-padding-large">Privacy Policy</a>
				<a href="#" class="w3-bar-item w3-btn w3-padding-large">Contact Us</a>
				<a href="#" class="w3-bar-item w3-btn w3-padding-large">Report Abuse</a>
				<a href="#" class="w3-bar-item w3-btn w3-padding-large">Go Premium!</a>
			</div>
		</div>
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
				<button id="openNav"
					class="w3-bar-item w3-btn w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large w3-theme-d2"><i
						class="fa fa-bars"></i>
				</button>
				<a href="{% url 'notify_user' %}" class="w3-bar-item w3-btn w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large w3-theme-d2" ><i class="fa fa-bell"></i>
					<span class="notification w3-badge w3-right w3-small w3-green">{% live_notify_badge %}</span>
				</a>
				
				<a href="{% url 'question_list' %}" class="w3-bar-item">
					<div class="logo-width">
					<span class="txt-rotate" data-period="8000" data-rotate='[ "easyCampus", "Practice", "Ask", "Learn", "Connect" ]'></span>
					</div>
				</a>

				<a href="{% url 'user_list' %}" title="Members List" class="w3-bar-item w3-btn w3-padding-large w3-hide-small"><i class="fas fa-user"></i></a>
				<a href="{% url 'groups_list' 'my' %}" title="Groups" class="w3-bar-item w3-btn w3-padding-large w3-hide-small"><i class="fas fa-users"></i></a>
				<div class="w3-dropdown-hover w3-hide-small">
					<button class="w3-btn  w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>
						<span class="notification w3-badge w3-right w3-small w3-green">{% live_notify_badge %}</span>
					</button>
					<div class="w3-dropdown-content  w3-card-4 w3-bar-block" style="width:auto;">
						{% live_notify_list list_class="w3-dropdown-content"%}	
						<div class="note_menu w3-dropdown-content-1">
							
						</div>
						<div class="w3-container w3-center w3-margin">
							<a href="{% url 'notify_user' %}" class="w3-center w3-small w3-round-medium w3-btn w3-blue">View all</a>
						</div>
					</div>
					
					
				</div>
				<a href="{% url 'profile' %}" class="w3-bar-item w3-btn w3-hide-small w3-right w3-padding-large w3-hover-white"
					title="My Account">
					{% if request.user.userprofile.profile_photo %}
                        {% thumbnail request.user.userprofile.profile_photo "26x26" crop="center" format="WEBP" as im %}
                        <img src="{{im.url}}" class="w3-circle" height="{{im.height}}" width="{{im.width}}" alt="{{request.user.username}}'s Profile Pics">
                        {% endthumbnail %}

                        {% else %}
                    {% if request.user.userprofile.gender|title == "Male" %}
                    <img src="{% static 'images/maleprofile.png' %}" class="w3-circle" width="26px" height="26px" alt="{{request.user.username}}'s Profile Pics">
                    {% else %}
               <img src="{% static 'images/femaleprofile.png' %}" class="w3-circle" width="26px" height="26px" alt="Avatar">
                    {% endif %}
                    {% endif %}
				</a>
			</div>
		</div>
	</header>
	<div class="w3-container container-mobile-1 body-div">
		{% if messages %}
		<div class="w3-panel w3-green w3-display-container">
			<span onclick="this.parentElement.style.display='none'" class="w3-btn w3-display-topright">&times;</span>
			<h2>Success!</h2>
			<ul class="w3-ul">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
	<!-- Footer -->

	<footer class="footer w3-margin-top">
		<div class="footer-container">
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-third">
					<h4 class="w3-text-white">About Us</h4>
					<div class="footer-link">
						<p>Easycampus is an online education platform that helps Nigerian students achieve academic excellence in their fields of study. The community is saturated with both tutors and students who are ready to share/impact knowledge. Ace your first-year exams in one sitting with our CBT tools, <a href="{% url 'quiz_index' %}">Get Started Now!</a></p>
					</div>
				</div>
				<div class="w3-third">
					<h4 class="quick-links-header w3-text-white">Quick Links</h4>
					<div class="footer-link">
						<ul class="quick-links">
							<a href="{% url 'quiz_index' %}">
								<li>CBT Home</li>
							</a>
							<a href="#">
								<li>Ask a question</li>
							</a>
							<a href="#">
								<li>Groups</li>
							</a>
							<a href="#">
								<li>CHM101</li>
							</a>
							<a href="#">
								<li>Connect</li>
							</a>
							<a href="#">
								<li>Dashboard</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="w3-third">
					<h4 class="w3-text-white">Connect With Us</h4>
					<div class="social-link footer-link">
						<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
						<a href="#" class="social"><i class="fab fa-facebook fa-2x"></i></a>
						<a href="#" class="social"><i class="fab fa-whatsapp fa-2x"></i></a>
					</div>
				</div>
			</div>
			<div class="w3-container copy-div footer-link w3-center">
				<p><strong> &COPY; 2021 | Easy Campus | All Rights Reserved</strong></p>
			</div>
		</div>
	</footer>
	<!-- JavaScripts -->
	{% block scripts %}
	{% endblock %}
	<script>
		$(document).ready(function () {
			$("#openNav").click(function () {
				$('#sidebar').toggleClass("w3-hide").toggleClass("w3-show");
				var x = document.getElementById("sidebar");
				x.style.width = "100%";
				x.style.paddingTop = "10%";
				x.style.display = "block";
				x.style.position = "fixed";
			});
		});
	</script>
	<script>
		var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = this.txt;

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS

};
	</script>
	<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
	{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' badge_class='notification' menu_class='note_menu' refresh_period=3 %}
	
</body>
</html>