{% extends "layout.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="w3-container w3-content">
<h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form method="post">
    {% if form.errors %}
    {% for field in form %} 
    <ul class="w3-red w3-ul">
        {% for error in field.errors %}       
                <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    <ul class="w3-red w3-ul">
    {% for error in form.non_field_errors %}
        <li>{{ error|escape }}</li>
    {% endfor %}
    </ul>
{% endif %}
<p>
    <label for="id_new_password1">New password:</label>
    <input class="w3-input" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"> 
    <span class="helptext">
        <ul class="w3-ul">
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </span>
</p>
<p>
    <label for="id_new_password2">Re-type new password:</label> 
    <input class="w3-input" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
</p>
{% csrf_token %}
<p>
    <input class="w3-button w3-blue" type="submit" value="Change my password" />
</p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
already been used. Please request a new password reset.</p>
{% endif %}
</div>
{% endblock %}