{% extends "layout.html" %}
{% load static %}
{% block title_block %}Register User{% endblock %}
{% block content %}
			
<div class= "w3-content w3-white w3-margin-top w3-round-medium">

	<form action="{% url 'register' %}" enctype="multipart/form-data" method="POST">
		
		<div class="w3-container w3-center w3-blue w3-round-medium">
			<h1>Register</h1>
		</div>
		{%csrf_token%}
		<div class="w3-padding">
			{% if form.non_field_errors %}
        <p class="w3-text-red">
            {{form.non_field_errors}}
        </p>
        {% endif %}
		{% if form_error %}
        <p class="w3-text-red">
            <i class="fas fa-exclamation-circle"></i>{{form_error}}
        </p>
        {% endif %}
	<p>
	<p>
		{% if form.username.value %}
		<input value="{{form.username.value}}" class="w3-input" id= "id_username" type="text" placeholder="Enter username" name= "username" required>
		{% else %}
		<input class="w3-input" id= "id_username" type="text" placeholder="Enter username" name= "username" required>
		{% endif %}
		<span class="w3-text-red">{{form.username.errors}}</span>
	</p>

	<p>
		{% if form.email.value %}
		<input value="{{form.email.value}}" class="w3-input" id = "id_email" type="email" placeholder="Enter email address" name= "email" required>
		{% else %}
		<input class="w3-input" id = "id_email" type="email" placeholder="Enter email address" name= "email" required>
		{% endif %}
		<span class="w3-text-red">{{form.email.errors}}</span>
		<span class="w3-text-red" id="error"></span>
	</p>

	<p>
		{% if form.password.value %}
		<input value="{{form.password.value}}" id = "id_password" placeholder="Password" class="w3-input" type="password" name= "password" required>
		{% else %}
		<input id = "id_password" placeholder="Password" class="w3-input" type="password" name= "password" required>
		{% endif %}
		<span class="w3-text-red">{{form.password.errors}}</span>
	</p>

	<p>
		<input id= "cpassword" class="w3-input" type="password" placeholder="Retype password" name= "cpassword" required>
	</p>
	<p class="w3-row">
		<input id= "otp"
		{% if otp %}
		value="{{otp}}"
		{% endif %}
		class="w3-input w3-col m9 s9" type="text" placeholder="click get otp" name= "otp" required><button id="get_otp" class="w3-col m3 s3 w3-btn w3-blue w3-round-medium">
		{% if otp %}
		Resend
		{% else %}
			Get otp
			{% endif %}
		</button>
	</p>
	
	<p>
		<button  type="submit" class="w3-btn w3-blue w3-round-medium">Register</button> <p>Already have an account? <a href="{% url 'login' %}" class="w3-text-blue">Login</a></p>
	</p>
</div>
</form>

</div>

		{% endblock %}

{% block scripts %}
	<script>
	$.ajaxSetup({
			headers: {"X-CSRFToken":'{{csrf_token}}'}

    });
	function validateEmail(email) {
  const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  const $result = $("#error");
  const email = $("#id_email").val();
  $result.text("");

  if (validateEmail(email)) {
    return true;
  } else {
    $result.text(email + " is not a valid email address");
    $result.css("color", "red");
    $result.show()
    return false;
  }
}
$(document).ajaxStart(function () {
		$('#get_otp').html(`<i class="fas fa-spinner fa-spin"></i>`);
  });
	$('#get_otp').click(function(e){
		e.preventDefault();

		var username = $('#id_username').val();
		var email = $('#id_email').val();
		if (validate()){
		$.post('{% url "otp" %}',
            {
                email: email,
                username: username
            },function(data){
                if(data["status"] == "ok"){
					$('#get_otp').html(`<i class="fas fa-check"></i>`).toggleClass('w3-green w3-blue');
					$("#otp").attr("placeholder", "Enter the otp sent to your mail").val("").focus().blur();;
				}
				else{
					var get_error = data["error"]
					$('#get_otp').html(`<i class="fas fa-exclamation-triangle w3-text-white"></i>`).toggleClass('w3-yellow w3-blue');
					$('#error').text(get_error)
				}}
			);}
		
	})
		</script>
		{% endblock %}
